@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 50px;
}

/* ---------chung------------ */
.head-container {
    text-align: center;
}

.description {
    margin-bottom: 64px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: grey;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

/* nav-js */
.nav-js {
    background-color: #212529 !important;
    position: fixed !important;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}

/* ----------navbar------------- */

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    color: #fff;
    z-index: 10;
}

nav .brand-logo {
    padding: 5px 0 0 20px;
}

nav img {
    width: 80%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav li {
    padding: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .2s;
}

nav a:hover {
    color: orange;
    border-bottom: 1px solid orange;
    padding-bottom: 5px;
}

.fa-bars {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 45px;
    cursor: pointer;
    display: none;
    transition: .2s;
}

.fa-bars:hover {
    color: orange;
}

/* -------------home--------------- */
.home {
    /* margin-top: -79px; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    z-index: 2;
}

.greeting {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
}

.welcome {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.home button {
    border: 1px solid orange;
    border-radius: 5px;
    padding: 20px 40px;
    color: #fff;
    background-color: orange;
    transition: .4s;
}

.home button:hover {
    background-color: rgb(165, 107, 0);
}

/* main-container */
.main-container {
    width: 100%;
    margin: 0 auto;
}


/* --------------services-------------- */
.services-container {
    width: 85%;
    margin: 100vh auto 0;
    padding: 96px 0;
    text-align: center;
}

.service {
    margin-bottom: 20px;
}

.service .service-icon {
    margin-bottom: 30px;
}

.lock-icon {
    padding: 20px 35px !important;
}

.service .service-icon i {
    border: 1px solid orange;
    border-radius: 100%;
    padding: 20px 22px;
    background-color: orange;
    color: #fff;
    font-size: 72px;
}

.services .service-name {
    font-weight: bold;
}

.services .service-description {
    color: grey;
}

/* -------------items--------------- */
.items-section {
    width: 100%;
    background-color: rgba(220, 220, 220, 0.5);
}

.items-container {
    margin: 0 auto;
    padding: 96px 0;
    width: 85%;
    margin: 0 auto;
}

.items-container .items {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.item .item-img {
    width: 100%;
    margin: 0 auto;
}

.items .item img {
    width: 100%;
    border-radius: 10px;
}

.item .item-img {
    width: 90%;
    position: relative;
    cursor: pointer;
    transition: .25s ease-in-out;
    border-radius: 10px;
}

/* item-effect */
.item-img .item-effect {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: translateY(-100%);
    background-color: orange;
    opacity: .8;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #fff;
    font-weight: bold;
}

.item-img:hover .item-effect {
    display: block;
    display: flex;
}

.item-img:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 10px black;
}

/* ---------item-modal-------------- */
.item-modal.hidden {
    display: none;
}

.item-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.item-modal .modal-container {
    width: 60%;
    height: auto;
    background-color: #fff;
    text-align: center;
    animation: modalAnimation 0.5s;
}

@keyframes modalAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-container .modal-close-btn {
    float: right;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
}

.modal-container .modal-close-btn:hover {
    opacity: .7;
}

.modal-container .modal-heading {
    clear: both;
}

.modal-heading p {
    text-align: center;
    color: grey;
}

.modal-container .modal-body .modal-img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modal-body .modal-img img {
    width: 100%;
    margin: 0 auto;
}

.modal-body .modal-description p {
    padding: 0px 30px;
}

/* ---------------Team------------*/
.team-container {
    margin: 0 auto;
    width: 80%;
    padding: 96px 0;
    text-align: center;
}

.member {
    margin-bottom: 100px;
}

.member:nth-child(4) {
    margin-bottom: 0;
}

.member-img img {
    width: 80%;
    border: solid 8px lightgrey;
    border-radius: 100%;
    margin-bottom: 20px;
}

.member .member-job h3 {
    font-weight: bold;
}

.member .member-job p {
    color: grey;
}

.member-social-medias {
    width: 60%;
    margin: 0 auto;
}

.fa-twitter,
.fa-facebook,
.fa-instagram {
    border: 1px solid #000;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #212529;
    cursor: pointer;
    transition: .2s;
    margin-right: 15px;
}

.social-media-icon .fa-facebook {
    padding: 10px 15px;
}

.social-media-icon .fa-instagram {
    padding: 10px 12px;
}

.social-media-icon i:hover {
    background-color: #fff;
    color: #212529;
}

.team-description {
    width: 70%;
    margin: 30px auto 0px;
}

/* -----------------------contact-------------------- */
.contact {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 56px 0;
    background-image: url(../img/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-heading-style {
    color: #fff;
}

.contact-form {
    margin-top: 48px;
    width: 85%;
    margin: 0 auto;
}

.form-left input {
    width: 90%;
    margin: 0 auto 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.form-left .last-input {
    margin-bottom: 0 !important;
}

.form-right #text-area {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    resize: none;
}

.contact-form .btn {
    margin-top: 1.6rem;
    margin-bottom: 5rem;
    border: black 1px solid;
    border-radius: 0.5 rem;
    padding: 0.8rem 1.6rem;
    background-color: black;
    font-size: 1.8rem;
    color: #fff;
}

.form-container .btn:hover {
    background-color: #fff;
    color: black;
}



/* -------------------footer----------------- */
footer {
    width: 100%;
    margin: 25px 0;
    color: #6c757d;
}

footer .row {
    width: 100% !important;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    /* width: 50%; */
    display: flex;
    justify-content: center;
}

.footer-right {
    text-align: center;
}

.footer-right a {
    color: #6c757d;
    text-decoration: none;
    margin-right: 20px;
}


/* ----------------responsive ------------*/
/* for tablet */
@media screen and (max-width: 768px) {
    .fa-bars {
        display: block;
    }

    nav {
        background-color: #212529 !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .nav-links {
        width: 100%;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .nav-links.hidden {
        display: none;
    }

    #text-area {
        margin-top: 20px auto !important;

    }


}

/* for phone */
@media screen and (max-width: 576px) {
    .welcome {
        font-size: 30px;
    }

    .greeting {
        font-size: 46px;
    }

    .item {
        width: 90%;
        margin: 0 auto;
    }

    .item .item-img {
        width: 95%;
        margin: 0 auto;
    }

    .item-modal .modal-container {
        margin-top: 100px;
        width: 95%;
    }

    .modal-container .modal-body .modal-img {
        width: 65%;
        margin: 0 auto;
    }

    .member-img img {
        width: 70%;
    }

    .member-social-medias {
        width: 50%;
        margin: 0 auto;
    }

}